<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
    </head>

    <body>
        <header>
            <p>ヘッダーが入る</p>
        </header>
        <main>
            <h2>BID THIS AUCTION</h2>
            <h3>車名　<%= vehicle['model_name'] %></h3>

            <!-- 画像 -->
            <article>
                <p>画像表示エリア</p>
                <!-- サンプル　-->
                <img src="http://localhost:9000/img/1.png">
            </article>

            <!-- オークション情報 -->
            <article>
                <section>
                    <h4>開始価格</h4>
                    <p><%= start %> 万円</p>
                </section>

                <section>
                    <h4>入札件数</h4>
                    <p id = "count"><%= count %> </p><p> 件</p>
                </section>

                <section>
                    <h4>現在落札価格</h4>
                    <p id="money"><%= money %></p><p>万円</p>
                </section>

                <section>
                    <h4>残り時間</h4>
                    <p id="time"><%= time %></p>
                </section>

                <section>
                    <p>※開始価格には、整備費用を含みます。</p>
                    <p>※落札価格によって価格は変動します。</p>
                    <p>※落札後、当社の社員がお電話いたします。</p>
                    <p>※落札後、キャンセルされる場合はキャンセル料が発生します。</p>
                </section>

            </article>

            <!-- 入札部分 -->
            <article>
                <p id = "display">現在あなたが暫定落札者です</p><!-- 落札者のときは表示 -->
                <form id="myform">
                    <label>
                        ￥ <input id="input" name="text" type="text">万
                    </label>
                    <!-- 消さないで-->
                    <input id="customer" type="hidden" name="hidden" value="<%= customer %>" >
                    <input id="chat" type="hidden" name="chat" value="<%= room %>" >
                    <!-- 消さないで -->
                    <button id="button"  name="btn" value="">入札</button>
                </form>
            </article>
            <p id="end"></p>

            <article>
                <section>
                    <h3>基本情報</h3>
                    <table>
                        <tr>
                            <td>メーカー</td>
                            <td><%= vehicle['maker'] %></td>
                        </tr>
                        <tr>
                            <td>車種名</td>
                            <td><%= vehicle['model_name'] %></td>

                        </tr>
                        <tr>
                            <td>形状</td>
                            <td><%= vehicle['shape'] %></td>
                        </tr>
                        <tr>
                            <td>年式</td>
                            <td><%= vehicle['model_year'] %></td>
                        </tr>
                        <tr>
                            <td>排気量</td>
                            <td><%= vehicle['displacement'] %></td>
                        </tr>
                        <tr>
                            <td>モデル</td>
                            <td><%= vehicle['model'] %></td>
                        </tr>
                        <tr>
                            <td>グレード</td>
                            <td><%= vehicle['grade'] %></td>
                        </tr>
                        <tr>
                            <td>燃料</td>
                            <td><%= vehicle['fuel'] %></td>
                        </tr>
                        <tr>
                            <td>型式</td>
                            <td><%= vehicle['vehicle_model'] %></td>
                        </tr>
                        <tr>
                            <td>定員</td>
                            <td><%= vehicle['capacity'] %></td>
                        </tr>
                        <tr>
                            <td>駆動方式</td>
                            <td><%= vehicle['drive_system'] %></td>
                        </tr>

                        <tr>
                            <td>走行距離</td>
                            <td><%= vehicle['mileage'] %></td>
                        </tr>
                        <tr>
                            <td>外装色</td>
                            <td><%= vehicle['exterior_color'] %></td>
                        </tr>
                        <tr>
                            <td>内装色</td>
                            <td><%= vehicle['Interior_color'] %></td>
                        </tr>
                        <tr>
                            <td>Nox期限</td>
                            <td><%= vehicle['nox_deadline'] %></td>
                        </tr>
                        <tr>
                            <td>検査期限</td>
                            <td><%= vehicle['Inspection_deadline'] %></td>
                        </tr>
                        <tr>
                            <td>名変期限</td>
                            <td><%= vehicle['name_change_deadline'] %></td>
                        </tr>
                        <tr>
                            <td>エアバッグ</td>
                            <td><%= vehicle['airbag'] %></td>
                        </tr>
                        <tr>
                            <td>車歴</td>
                            <td><%= vehicle['car_history'] %></td>
                        </tr>
                        <tr>
                            <td>種別区分番号</td>
                            <td><%= vehicle['classification_classification_number'] %></td>
                        </tr>
                        <tr>
                            <td>修理歴</td>
                            <td><%= vehicle['repair_history'] %></td>
                        </tr>
                        <tr>
                            <td>評価点</td>
                            <td><%= vehicle['evaluation_points'] %></td>
                        </tr>
                        <tr>
                            <td>外装評価</td>
                            <td><%= vehicle['exterior_evaluation'] %></td>
                        </tr>
                        <tr>
                            <td>内装評価</td>
                            <td><%= vehicle['interior_evaluation'] %></td>
                        </tr>
                        <tr>
                            <td>状態コメント</td>
                            <td><%= vehicle['situation_comment'] %></td>
                        </tr>
                        <tr>
                            <td>アピールポイント</td>
                            <td><%= vehicle['appeal_point'] %></td>
                        </tr>

                    </table>
                </section>
            </article>

        </main>
        <footer>
            <p>フッターが入る</p>
        </footer>


        <!--ノード実行用ＪＳ-->
        <script>
            const socketio = io();

            /**
             * オークション落札者表示を消しておく
             * @type Element
             */
            var display = document.getElementById("display");
            display.style.display = " none";

            /**
             * オークション識別子
             * @type Element.value
             */
            var chat = document.getElementById("chat").value;
            var sendData = {
                auction: chat
            };
            socketio.emit('c2s-join', sendData);


            /**
             * 時間取得
             * @param {type} event
             * @returns {undefined}
             */
            socketio.on('s2cx', function (strDiff) {
                console.log('ソケット' + strDiff);
                var time = document.getElementById("time");
                time.innerHTML = strDiff;
            })

            /**
             *終了 
             * @type type
             */
            socketio.on('end', function () {
                console.log('終了ソケット');
                var end = document.getElementById("end");

                var button = document.getElementById("button");
                button.disabled = true;
                //alert("終了しました");
            })

            /**
             * オークション　下り
             * @type type
             */
            socketio.on('auction_d', function (msg) {
                console.log('オークション');
                var ul = document.getElementById("message");
                var li = document.createElement('li');
                var mon = document.getElementById("money");
                var cnt = document.getElementById("count");
//                li.innerHTML = msg;
                mon.innerHTML = msg.msg;
                cnt.innerHTML = msg.count;
//                ul.appendChild(li);
                console.log(msg);
                //落札者表示を消す 返答id と顧客ID が一致しない場合
                var customer = document.getElementById("customer").value;
                console.log("customer :" + customer);
                console.log(!(parseInt(customer) == parseInt(msg.customer)));
                if (!(parseInt(customer) == parseInt(msg.customer))) {
                    var display = document.getElementById("display");
                    display.style.display = "none";
                }
            })

            /**
             * オークション　上り
             * @type Element
             */
            const form = document.getElementById("myform");
            form.addEventListener("submit", function (event) {
                event.preventDefault();
                var input_message = document.getElementById("input").value;
                var room = document.getElementById("chat").value;
                var customer = document.getElementById("customer").value;
                var message = {
                    msg: input_message,
                    room: room,
                    customer: customer
                };

                socketio.emit('auction', message);

                //落札者表示を表示  

                var display = document.getElementById("display");
                display.style.display = "block";

            });




        </script>

    </body>

</html>